:root{
	--my_blue : #5DADE2;
	--my_green:  #7ED957;
}
body{
	background-image: url(../ressources/bg-water.png);
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
	padding-top: 110px;
	margin-right: 5%;
	color: white;
}

.summary{
	position: fixed;
	border: 2px solid black;
	background-color: var(--my_blue);
	font-size: 20px;
}

.summary h5{
	padding-left: 15px;
	padding-right: 10px;
	color: #FFF;
}

.summary p{
	margin-left: 10%;
	margin-right: 10%;
}

.summary a{
	color: var(--my_green);
}

.summary a:visited{
	color: var(--my_green);
}

section{
	margin: 100px 1px 1% 160px;
	border: 2px solid black;
}

section h1, section h2, section p{
	text-align: center;
	margin-bottom: 16px;
}

section > ul {
	display: flex;
	flex-wrap: wrap;
}

section li{
	width: 300px;
	margin-bottom: 15px;
	list-style-type: none;
}

section img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2px;
	width: 30%;
	height: 60%;
}

section figcaption{
	margin-top: auto;
	text-align: center;
}
