:root{
	--is_not_hover: #D3D3D3;
	--is_hover:  #FFFFFF;
	--my_blue:  #5DADE2;
}

body{
	margin: 0px 0px;
}

header{
	position: fixed;
	top: 0px;
	width: 100%;
}

nav {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: stretch;
	height: 100px;
	background-color: var(--my_blue);
}

#atlas_logo {
	display: block;
	width: 100px;
	height: 100px;
}

nav > * {
	display: inline-block;
	font-size: 20px;
}

nav a{
	color: var(--is_not_hover);
	text-decoration: none;
}


nav a:hover{
	color: var(--is_hover);
}

.flags_submenu{
	display: none;
	list-style-type: none;
}

.wrapper{
	display: block;
	padding: 50px 0px;
}

.wrapper:hover .flags_submenu{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 100px;
	padding: 10px ;
	z-index: 100;
	background-color: var(--my_blue);
}

p{
	padding-top: 100px;
}